@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap%27');


/* Início estilo carousel */
#menu a {
    font-size: 22px;
    /* border-bottom-right-radius: 15px; */
    /* border-bottom-left-radius: 15px; */
    /* border-bottom: 4px solid #e4d07a; */
    color: rgb(253, 237, 167);
     text-decoration: none;
     /* font-family: sans-serif; */
     /* font-family: 'Metal Mania', sans-serif; */
     font-family: 'Henny Penny';
     font-weight: 600;
     transition: 0.4s;
     text-align: center;
     padding: 0 0.4em 0.2em 0.4em;
     /* top - rigth - botton - left */
 }

#menu a:hover {
    /* background: rgba(0, 0, 0, 0.05); */
    font-size: 24px;
    /* border-bottom-left-radius: 15px; */
    /* border-bottom-right-radius:15px; */
    /* border-collor: #006ccb; */
    border-left:  4px solid #080677;
    box-shadow: 1px 1px 2px #085ea585;
}
#carouselExampleInterval {
    position: relative;
    z-index: 10;
    padding-top: 10px;
    box-shadow: 3px 3px 6px hsla(0, 0%, 0%, 0.829); 
   }
   
   /* Fim estilo carousel */
   /* Início CSS estilo header */
   #logo {
    font-size: 1.5rem;
    }
    #logo img {
        height: 70px;
    }
    #logo img:hover{
        box-shadow: 2px 2px 4px #0d00a0;
        transition: 0.3s;
    }
    #header {
      box-sizing: border-box;
      height: 80px;
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #000;
  }
  #menu {
      display: flex;
      list-style: none;
      gap: 0.5rem;
  }
  #btn-mobile {
      display: none;
  }
  /* Fim CSS estilo header */
  /* Início estilo carousel */

#carouselExampleInterval {
    position: relative;
    z-index: 10;
    padding-top: 10px;
    box-shadow: 3px 3px 6px hsl(226, 11%, 64%); 
   }
   
   /* Fim estilo carousel */
   /* Início Estilo Media >>Mobile */
@media (max-width: 790px) {
    #menu{
        display: block;
        position: absolute;
        width: 15em;
        top: 70px;
        right: 0px;
        background: #424242;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        padding-left: 5px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #menu li {
        padding-top: 30px;
        padding-bottom: 0px;
        margin: 0 1rem;
        border-bottom: #07227ebd;
    }
    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: hidden;        
    }
    #btn-mobile {
        display: flex;
        padding: 0.5rem;
        font: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;        
    }
    #hamburger {
        border-top: 2px solid;
        /* Para aumentar ou diminuir a espessura da linha do hamburger */
        width:  30px;
        /* Para alterar a largura do hamburge */
        color: rgb(253, 237, 167);
        /* Para alterar a cor do hamburge */
    }
    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 30px;
        /* Altera a largura do hamburger, justamente com o width anterior */
        height: 2px;
        background: currentColor;
        margin-top:  4px;
        /* Altera o espaçamento, entre as linhas do hamburger */
        position: relative;
        border-top: 2px solid;
        /* Para diminuir e aumentar a espessura da linha do hamburger,juntamente com o border-top anterior */        
    }
    #nav.active #hamburger {
        border-top-color:transparent ;        
    }
    #nav.active #hamburger::before {
        transform:rotate(135deg) ;
    }
    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}

h2 {
    font-family: 'Henny Penny' !important;
}
/* Início estilo galeria */
.galeria{
    background-color: rgb(79, 55, 146);
    padding-top: 0px;
}
.galeria {
    margin: 0px auto 20px;
    /* Quando tivermos 4 valores no margin = top/ right/ botton/ left . Exemplo: margin: 60px 60px 60px 60px; */
    /* Quando tivermos 3 valores = top/ right and left/ botton > Exemplo margin: 60px auto 60px; */
    /* Quando tivermos 2 valores será = top and botton/ right and left > Exemplo margin: 60px 30px; */
    /* Quando tivermos 1 valores será = top, botton, right and left serão identicos > Exemplo margin: 60px;*/
    /* Essa regra se aplica também ao padding */
}
.galeria .container {
    margin-left: 15%;
}
.galeria h2 {
    text-align: center;
    font-size: 45px;
    margin-top: 25px;
    color: white;
}
.galeria p { 
    text-align: center;
    width: 30%;
    margin: 14px auto 50px;
}
.galeria .gallery {
    width: 30%;
    margin: 14px auto 50px;
}
.galeria .gallery img {
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    display: block;
}
.galeria .gallery img:hover {
    -webkit-transform: scale(1.9);
    transform: scale(1.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* fim estilo galeria */

/* Início Whatsapp*/
.whatsapp {
    position: fixed;
    top: 400px;
    right: 20px;
    z-index: 100;    
}
.whatsapp img {
    height: 60px;
}
/* Início efeito pulse */
.whatsapp .pulse {
    animation: pulse 0.7s infinite;
    margin: 0 auto;
    display: table;
    margin-top: 50px;
    animation-duration: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
}
@-webkit-keyframes pulse {
 0% {
    -webkit-transform: scale(1);
    -webkit-filter: bringhtness(100%);
 }
 100% {
    -webkit-transform: scale(1.1);
    -webkit-filter: bringhtness(110%);
 }
}

@keyframes pulse {
0% {
    transform: scale(1);
    filter: brightness(100%);
}

100%{
   transform: scale(1.1);
     filter: brightness(110%);
}
}
/* Fim efeito pulse */
/* Fim Whatsapp*/
/* Início Estilo Footer */
.rodape {
    padding: 50px 50px 0;
}
.rodape .container #logo-rodape img  { 
    height: 50%;
    width: 50%;
    padding-left: 25px;
    transition: transform .3s;
    display: block;
}
.rodape .container #logo-rodape img:hover {
    transform: scale(1.5);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}
.rodape .info-contato p {
    margin: 30; 
   
}
.rodape a {
    text-decoration: none;
    color: #000;
    font-size: 13px;
}
.rodape .linkFooter {
    text-decoration: none;
    color: #0852c0;
    font-size: 15px;
    margin-left: 0.7rem;
    font-family: 'Henny Penny';
}
.rodape .linkFooter:hover {
    font-weight: bold;
}
.rodape .redes-sociais {
    display: inline-block;
}
.rodape .redes-sociais img {
    width: 50px;
    height: 50px;
    padding-left: 0;
    margin-left: 0.8rem;
    transition: t ransform .3s;
    border-radius: 15px;
    /* border-radius = arredondandoas extremidades da forma */
}
.rodape .redes-sociais img:hover {
    z-index: 1;
    transform: scale(1.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.446);

}
.rodape p.direitos{
    text-align: center;
    margin-top: 40px;
}
/* Fim Estilo Footer */


/* Início estilo banner home*/
/* Para aplicar estilos na Class > utilize o ponto [.] antes do objeto*/
/* Para aplicar estilos no ID > utilize a hashteg [#] antes do objeto*/

.section-banner-home {
    width: 100%;
    height: 500px;
    margin-top: 10px;
    padding: 50px;
    background-color: #e5d3f8;
    box-shadow: 3px 3px 6px #b1b1b1;
}
.section-banner-home img {
    max-height: 500px;
    width: 50%;
    display: block;
    margin: auto;
}
.section-banner-home .texto-banner {
    margin-top: 30px;
    font-size: 22px;
}
.section-banner-home .texto-banner h1 {
    font-size: 30px;
    width: 60%; /* width = Largura */
    font-weight: 500; /*Espessura de Texto */
    padding-bottom: 20px; /* Margem Interna > Embaixo*/
    color: white
}
.section-banner-home .texto-banner p {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: justify;
    color: white

}
.section-banner-home .texto-banner a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: #100060;
    padding: 4px 14px;
    font-size: 17px;
     transition: 0.3;/* Deixando o efeito suave */
}
.section-banner-home .texto-banner a:hover {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px #fffffff7;
    font-size: 18px;
    font-weight: bold;
}
/* Fim estilo banner home*/
/* Ínicio estilo Destaque */
.destaque h2 {
    margin-top: 35px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.destaque p {
    width: 77%;
    text-align: center;
    font-size: 14px;
    margin: 30px auto;
}
.destaque figcaption {
font-size: 13px;
color: #000;
text-decoration: none;
font-weight: bold;
text-align: center;
}
.destaque #saiba-mais {
    justify-content: center;
    display: flex;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    background: #100060;
    margin: 30px 0px;
    width: 25%;
}

/* .destaque .col-6 img:hover {
    box-shadow: 2px 2px 6px #9c9a9aee;
    transition: 0.3s;
} 
/* Fim estilo Destaque */


/*Início estilo 360° */

.embed-container {
position: relative;
padding-bottom: 0;
height: auto;
max-width: 100%;
margin-top: 0;
margin-bottom: 30px;
padding-top: 100px;
padding-left: 30px;
padding-right: 30px;
display: flex;
}
.embed-container p { 
    text-align: center;
    font-size: 20px;
}
.embed-container h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.embed-container iframe {
position: relative;
top: 0%;
left: 0;
width: 100%;
height: 250px;
border-radius: 1em;
box-shadow: gray 0.5em 0.5em 0.3em;
transition: transform .3s;
display: flex;
}
.embed-container iframe:hover {
    flex: 1;
    z-index: 1;
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0 0, 0.446); 
} 
.embed-container .col-lg-4 {
    margin-top: 30px;
}
.embed-container .col-lg-6 {
    margin-top: 30px;
}
/* Fim estilo 360° */
/* Inicio estilo Contato */
.contact {
    padding: 70px 0px;
    background:#ceb5e9;
}
.section-title h2 {
color: #ffffff;
font-size: 30px;
font-weight: normal;
text-transform: uppercase;
letter-spacing: 8px;
border-bottom: 5px solid black;
padding-bottom: 10px;
display: inline-block;
}
.section-title p {
color: #2e2a2a;
margin-bottom: 30px;
}
.contact input,
.contact textarea {
background: #fafafa;
}
.contact textarea {
min-height: 188px;
max-width: 100%;
}
.contact .map {
overflow: hidden;
border-radius: 4px;
height: 65%;
}

/* Fim estilo Contato */

/* Inicio estilo market place */
.market-place {
height: 180%;
width: 100%;
position: relative;
padding: 20px 0;
display: flex;
align-items: center;
justify-content: center;
margin-left: auto;
margin-right: auto;

}
.market-place img {
height: 160%;
width: 100%;

}


/* Fim estilo market place */
/* Fim estilo contato */

/* Início estilo produtos  */
.col-lg-4 .card {
    border-style: none;
    border: 0px;
    min-height: 300px;
}
.text-center .mb-5 {
    margin-top: 20px;
}
.card img { 
    height: auto;
    width: 100%;
}
.card .bg-image {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
.mask{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}
.hover-overlay .mask{
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.hover-overlay .mask:hover {
    opacity: 1;
}
.card-body .btn {
    background-color: #ceb5e9;  
    color: rgb(17, 16, 16);
    font-weight: 400;
    border: none;
    outline: 0px solid transparent;
}









/* Fim estilo produtos */
