@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');

/* Início estilo carousel */
  body,
  ul {
    margin: 0px;
    padding: 0px;
  }
   #menu a {
    font-size: 22px;
    /* border-bottom-right-radius: 15px; */
    /* border-bottom-left-radius: 15px; */
    /* border-bottom: 4px solid #e4d07a; */
    color: rgba(255, 168, 127, 0.911);
     text-decoration: none;
     /* font-family: sans-serif; */
     /* font-family: 'Metal Mania', sans-serif; */
     font-family: 'Henny Penny';
     font-weight: 600;
     transition: 0.4s;
     text-align: center;
     padding: 0 0.4em 0.2em 0.4em;
     /* top - rigth - botton - left */
 }

#menu a:hover {
    /* background: rgba(0, 0, 0, 0.05); */
    font-size: 24px;
    /* border-bottom-left-radius: 15px; */
    /* border-bottom-right-radius:15px; */
    /* border-collor: #006ccb; */
    border-left:  4px solid #080677;
    box-shadow: 1px 1px 2px #085ea585;
}
#carouselExampleInterval {
    position: relative;
    z-index: 10;
    padding-top: 10px;
    box-shadow: 3px 3px 6px hsla(0, 0%, 0%, 0.829); 
   }
   
   /* Fim estilo carousel */
   /* Início CSS estilo header */
   #logo {
    font-size: 1.5rem;
    }
    #logo img {
        height: 60px;
    }
    #logo img:hover{
        box-shadow: 2px 2px 4px #0d00a0;
        transition: 0.3s;
    }
    #header {
      box-sizing: border-box;
      height: 70px;
      padding: 1rem;
      padding-top: px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: rgb(rgb(0, 38, 255), rgb(22, 99, 138), blue);
      background-color: #000;
      
      
  }
  #menu {
      display: flex;
      list-style: none;
      gap: 0.5rem;
  }
  #btn-mobile {
      display: none;
  }
  /* Fim CSS estilo header */
  /* Início estilo carousel */

#carouselExampleInterval {
    position: relative;
    z-index: 10;
    padding-top: 10px;
    box-shadow: 3px 3px 6px hsl(226, 11%, 64%); 
   }
   
   /* Fim estilo carousel */
   /* Início Estilo Media >>Mobile */
@media (max-width: 790px) {
    #menu{
        display: block;
        position: absolute;
        width: 15em;
        top: 70px;
        right: 0px;
        background: #e7e7e7;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        padding-left: 5px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #menu li {
        padding-top: 30px;
        padding-bottom: 0px;
        margin: 0 1rem;
        border-bottom: #07227ebd;
    }
    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: hidden;        
    }
    #btn-mobile {
        display: flex;
        padding: 0.5rem;
        font: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;        
    }
    #hamburger {
        border-top: 2px solid;
        /* Para aumentar ou diminuir a espessura da linha do hamburger */
        width:  30px;
        /* Para alterar a largura do hamburge */
        color: #083aa585;
        /* Para alterar a cor do hamburge */
    }
    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 30px;
        /* Altera a largura do hamburger, justamente com o width anterior */
        height: 2px;
        background: currentColor;
        margin-top:  4px;
        /* Altera o espaçamento, entre as linhas do hamburger */
        position: relative;
        border-top: 2px solid;
        /* Para diminuir e aumentar a espessura da linha do hamburger,juntamente com o border-top anterior */        
    }
    #nav.active #hamburger {
        border-top-color:transparent ;        
    }
    #nav.active #hamburger::before {
        transform:rotate(135deg) ;
    }
    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}

/*Fim Estilo Media >>Mobile */

  /* inicio estilo produtos */
  .col-lg-4 {
    margin-top: 0px;
  }
  .mb-5 {
    font-size: 4em;
  }
  .col-lg-4 .card {
    border-style: none;
    border: 0px;
    min-height: 300px;
    background-color: rgb(148, 54, 0);
    border-radius: 20px 0px;
  }
  .text-center .mb-5 {
    margin-top: 20px;
    color: rgb(85, 0, 0);
    font-family: 'Henny Penny';
    text-align: center;
  }
 
  .card .bg-image {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10%;
  }
  .card .bg-image img {
    height: auto;
    width: 50%;
    
  }

  .card-body p {
    color: rgb(83, 0, 0);
  }
  .card-title {
    color: aliceblue;
  }
  
   /* .card .bg-image img 
    height: 300px; */
   
  .mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    width: 1005;
    height: 100%;
    background-attachment: fixed;

  }
  .hover-overlay .mask {
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .hover-overlay .mask:hover {
    opacity: 1;
  }
  .card-body .btn {
    background-color: rgb(255, 192, 195); /* cor do botao */
    color: rgb(0, 0, 0); /* cor do texto do botao */
    font-weight: 400; /* espesura do texto ex: negrito = bold */
    border: none;
    outline: 0px solid trasnparent;
  }
  section.text-center {
    background-color: #ffbd91;
    padding-top: 10px ;
    
  }
  

  

  /* fim estilo produtos */

  /* inicio whatsapp */
.whatsapp {
    position: fixed;
    top: 400px;
    right: 20px;
    z-index: 200;
}
.whatsapp img {
    height: 60px;
}
/* inicio efeito pulse */
.whatsapp .pulse {
    animation: pulse 0.7s infinite;
    margin: 0 auto;
    display: table;
    margin-top: 50px;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
}
@-webkit-keyframes pulse {
0%{
    -webkit-transform: scale(1);
    -webkit-filter: brightness(100%);
}
100%{
    -webkit-transform: scale(1.1);
    -webkit-filter: brightness(110%);
}
}
@keyframes pulse {
    0%{
        transform: scale(1);
        filter: brightness(100%);
    }
    100% {
        transform: scale(1.1);
        filter: brightness(110%);
    }
}

/* fim efeito pulse */
/* fim whatsapp */



/* Início estilo banner home */
/* Para aplicar estilos na CLASS > utilize o ponto [.] antes do objeto */
/* Para aplicar estilos na ID > utilize o hashtag [#] antes do objeto */
.section-banner-home {
    width: 100%;
    height: 500px;
    margin-top: 10px;
    padding: 50px;
    background-color: rgb(255, 213, 227);
    box-shadow: 3px 3px 6px #b1b1b1;
}
.section-banner-home img {
    max-height: 400px;
    width: 40%;
    display: block;
    margin: auto;
}
.section-banner-home .texto-banner {
    margin-top: 30px;
    font-size: 22px;

}
.section-banner-home .texto-banner h1 {
    font-size: 30px;
    width: 60%;   /* largura */
    font-weight: 500; /* espessura do texto */
    padding-bottom: 20px; /* margem interna > embaixo */
    color: white;
}
.section-banner-home .texto-banner p {
    font-size: 20px; 
    margin-bottom: 30px;
    color: white;
    text-align: justify;
}
.section-banner-home .texto-banner a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color:  #623e7a;
    padding: 4px 14px;
    font-size: 17px;
    transition: 0.3s; /* deixand o efeito suave */
}

.section-banner-home .texto-banner a:hover {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px #ffffff7a;
    font-size: 18px;
    font-weight: bold;
}


/*Fim estilo banner home */

/* inicio estilo destaque */
.destaque h2 {
    margin-top: 15px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.destaque p {
    width: 77%;
    text-align: center;
    font-size: 14px;
    margin: 30px auto;
}
.destaque figcaption {
    font-size: 13px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
           
}
.destaque #saiba-mais {
    justify-content: center;
    display: flex;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    background: rgb(255, 216, 226);
    margin: 30px 0px;
    width: 25%;
    /* alingn-itens: center */
    
}
/* .destaque .col-6 img:hover {
    box-shadow: 3px 3px 6px #868686;
    transition: 0.3s;
} */
/* fim estilo destaque */

/* inicio estilo novidades */
.novidades .text-body {
    width: 80%;
    margin: 70px auto;
}
.novidades h2 {
    color: #000;
    font-size: 26px;
    width: 70%;
}
.novidades p {
    color: #000;
}
.novidades a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
    text-decoration-color:violet ;
    padding: 6px 12px;
    background-color: #f1dcff;
    font-weight: 400;
    justify-content: center;
    display: flex;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    background: rgb(255, 216, 226);
    margin: 30px 0px;
    width: 45%;
    /* alingn-itens: center */
}
/* fim estilo novidades */
/* inicio estilo galeria */
.galeria {
    margin: 60px auto 20px;
    /* quando tivermos 4 valores no margin = top/ right/ botton/ left > exemplo: margin: 60px 60px 60px 60px; */
    /* quando tivermos 3 valores = top /right and left/ botton > exemplo: 60px auto 60px; */
    /* quando tivermos 2 valores = igual top and botton / right and left > exemplo: margin: 60px 30px;  */
    /* quando tivermos 1 valor = botton, right and left serao identicos > exemplo: margin: 60px;   */
    /* essa regra se aplica tambem ao padding */
}
.galeria .container {
margin: 11%;
}
.galeria h2 {
    text-align: center;
    font-size: 24px;
}
.galeria p {
    text-align: center;
    width: 50%;
    margin: 14px auto 50px;
}
.galeria .gallery {
    width: 30%;
    margin: 14px auto 50px;
}
.galeria .gallery img {
width: 80%;
height: 80%;
-webkit-transition: -webkit-transform .5s ease;
transition: transform .5s ease;
display: block;
}
.galeria .gallery img:hover {
    -webkit-transform: scale(1.9);
    transform: scale(1.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
/* fim estilo galeria */

/* inicio whatsapp */
.whatsapp {
    position: fixed;
    top: 400px;
    right: 20px;
    z-index: 200;
}
.whatsapp img {
    height: 60px;
}
/* inicio efeito pulse */
.whatsapp .pulse {
    animation: pulse 0.7s infinite;
    margin: 0 auto;
    display: table;
    margin-top: 50px;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
}
@-webkit-keyframes pulse {
0%{
    -webkit-transform: scale(1);
    -webkit-filter: brightness(100%);
}
100%{
    -webkit-transform: scale(1.1);
    -webkit-filter: brightness(110%);
}
}
@keyframes pulse {
    0%{
        transform: scale(1);
        filter: brightness(100%);
    }
    100% {
        transform: scale(1.1);
        filter: brightness(110%);
    }
}

/* fim efeito pulse */
/* fim whatsapp */

/* inicio esilo footer (rodape) */
.rodape {
    padding: 50px 50px 0;
}
.rodape .container #logo-rodape img {
    height: 50%;
    width: 50%;
    padding-left: 10px;
    transition: transform .3s;
    display: block;
}
.rodape .container #logo-rodape img:hover {
    transform: scale(1.5);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}
.rodape .info-contato p {
    margin: 0;
}
.rodape .linkFooter {
    text-decoration: none;
    color: #000;
    font-size: 13px;
    margin-left: 0.7rem;
    font-family: 'Henny Penny';
}
.rodape .linkFooter:hover {
    font-weight:  bold;
}
.rodape .redes-sociais {
    display: inline-block;
}
.rodape .redes-sociais img {
    width: 50px;
    height: 50px;
    padding-left: 0;
    margin-left: 0.7rem;
    transition: transform .3s;
    border-radius: 15px;
    /* border-radius = arredondando as extremidades da forma */
}
.rodape .redes-sociais img:hover {
    z-index: 1;
    transform: scale(1.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.446);
}
.rodape p.direitos {
    text-align: center;
    margin-top: 40px;
}
/* fim esilo footer (rodape) */


  
  
  

  /* inicio estilo market place */
  .market-place {
    height: 180px;
    width: 100%;
    position: relative;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .market-place img {
    height: 160%;
    width: 60%;
  }

  /* fim estilo market place */

 /* Início estilo Produtos */
.col-lg-4 {
  margin-top: 10px;
}
.col-lg-4 .card {
  border-style: none;
  border: 0px;
  min-height: 400px;
}
.text-center .mb-5 {
  margin-top: 20px;
}
.card img {
  /* height: auto; */
  width: auto;
  max-height: 400px;
}
.card .bg-image {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
.card .bg-image img {
  height: 400px;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
}
.hover-overlay .mask {
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.hover-overlay .mask:hover {
  opacity: 1;
}
.card-body .btn {
  background-color: #ababab; /* cor do botão */
  color: white; /* cor do texto do botão */
  font-weight: 400; /* espessura do texto ex. negrito = bold */
  border: none;
  outline: 0px solid transparent;
}


/* Fim estilo Produtos */