@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');

/* 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Bebas Neue', sans-serif;;
}
.container-grid {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
}
 Início estilo > Social > Header / Menu  

.conteudo-social {
    background-color: #080324;
    width: 100%;
    position: fixed;
    height: 35px;
    z-index: 50;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1.0em;
    padding-top: 0.3%;
    
}
.conteudo-social a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding-left: 0.5em;
 
}
.conteudo-social a:hover {
    color: white;
    text-decoration: none;
}
.conteudo-social .fa-youtube:hover {
 color: #c4302b;
}
.conteudo-social .fa-facebook:hover {
 color: #3b5998;
}
.conteudo-social .fa-spotify:hover {
 color: rgb(29, 185,84)
}
.conteudo-social .fa-twitter:hover {
 color: #00acee;
}
.conteudo-social .fa-instagram:hover {
    background-image: linear-gradient( 190deg, #4f5bd5 ,#962fbf ,#d62976, #fa7e1e, #feda75);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}
 



header {
    z-index: 1;
    height: 80px;
    position: fixed;
    width: 100vw;
    top: 35px;
    background-color: #da9cd6;
    margin-bottom: 40px;
   

}
.conteudo-header {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
   
    
}
.logo {
    height: 70px;
}
.menu-header {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.menu-header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.25em;
    transition: 0.3s;
    
}
.menu-header a:hover:not(.botao) {
    font-size: 1.6em ;
    color: rgb(151, 41, 155);
    text-decoration: none;
}
.menu-header #font {
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif !important;
    
}
 */
/* Início estilo carousel */

@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');

/* Início estilo carousel */
  body,
  ul {
    margin: 0px;
    padding: 0px;
  }
   #menu a {
    font-size: 22px;
    /* border-bottom-right-radius: 15px; */
    /* border-bottom-left-radius: 15px; */
    /* border-bottom: 4px solid #e4d07a; */
    color: rgba(167, 21, 167, 0.856);
     text-decoration: none;
     /* font-family: sans-serif; */
     /* font-family: 'Metal Mania', sans-serif; */
     font-family: 'Henny Penny';
     font-weight: 600;
     transition: 0.4s;
     text-align: center;
     padding: 0 0.4em 0.2em 0.4em;
     /* top - rigth - botton - left */
 }

#menu a:hover {
    /* background: rgba(0, 0, 0, 0.05); */
    font-size: 24px;
    /* border-bottom-left-radius: 15px; */
    /* border-bottom-right-radius:15px; */
    /* border-collor: #006ccb; */
    border-left:  4px solid #d006ebd7;
    box-shadow: 2px 2px 4px #b302ca86;
}
#carouselExampleInterval {
    position: relative;
    z-index: 10;
    padding-top: 10px;
    box-shadow: 3px 3px 6px hsla(0, 0%, 0%, 0.829); 
   }
   
   /* Fim estilo carousel */
   /* Início CSS estilo header */
   #logo {
    font-size: 1.5rem;
    }
    #logo img {
        height: 60px;
    }
    #logo img:hover{
        box-shadow: 2px 2px 4px #b302cacc;
        transition: 0.3s;
    }
    #header {
      box-sizing: border-box;
      height: 70px;
      padding: 1rem;
      padding-top: px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #000
      
  }
  #menu {
      display: flex;
      list-style: none;
      gap: 0.5rem;
  }
  #btn-mobile {
      display: none;
  }
  /* Fim CSS estilo header */

 

   /* Início estilo contato */
 .contact {
    padding: 70px 0px;
    display: flex;
    background-color:  rgb(94, 2, 74);
    background-image: linear-gradient( to bottom, #daa6d6, rgb(196, 85, 186) ,#ebafe7 );
 
  }
 
  .section-title h2 {
    color: #ffffff;
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 8px;
    border-bottom: 5px solid #6d116d;
    padding-bottom: 10px;
    display: inline-block;
    font-family: 'Henny Penny';
    margin-top: 10%;
  }
  .section-title p {
    color: #ffffff;
    margin-bottom: 30px;
    font-family: 'Amatic SC', sans-serif;
    font-size: 24px;
  }
  .contact input,
  .contact textarea {
    background: #fafafa;
    font-family: 'Amatic SC', sans-serif;
    font-size: 20px;
 
  }
  .contact textarea {
    min-height: 188px;
    max-width: 100%;
    font-family: 'Amatic SC', sans-serif;
 
  }


  .contact .map {
    overflow: hidden;
    border-radius: 4px;
    height: 70%;
 
  }
 
  
  
  
  /* Início estilo market place */
    .market-place {
    width: 100%;
    height: 180px;
    /* margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 200px 0;
    display: flex;
    align-items: center;
    justify-content: center; */
    
  }
  .market-place img {
    margin-left: 70px;
    width: 40%;
    height: 220px;
  }
  
  .market-place .dois img {
    height: 220px;
    width: 35%;
    margin-left: 140px;
    /* margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;  */
  } 
 
  /* Fim estilo market place */
 
  /* Fim estilo contato */

  /* Início Whatsapp*/
.whatsapp {
  position: fixed;
  top: 400px;
  right: 20px;
  z-index: 100;    
}
.whatsapp img {
  height: 60px;
}
/* Início efeito pulse */
.whatsapp .pulse {
  animation: pulse 0.7s infinite;
  margin: 0 auto;
  display: table;
  margin-top: 50px;
  animation-duration: alternate;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}
@-webkit-keyframes pulse {
0% {
  -webkit-transform: scale(1);
  -webkit-filter: bringhtness(100%);
}
100% {
  -webkit-transform: scale(1.1);
  -webkit-filter: bringhtness(110%);
}
}

@keyframes pulse {
0% {
  transform: scale(1);
  filter: brightness(100%);
}

100%{
 transform: scale(1.1);
   filter: brightness(110%);
}
}
/* Fim efeito pulse */
/* Fim Whatsapp*/


/* Início Estilo Media >> Mobile */
@media (max-width: 790px) {

  #menu a:hover {
   
     /* background: rgba(0, 0, 0, 0.05); */
     font-size: 24px;
     /* border-bottom-right-radius: 15px; */
     /* border-bottom-left-radius: 15px; */
     /* border-color: #c4b059; */
     border-left: 4px #f7f1f1;
     border-bottom: 4px solid #6d116d;
     box-shadow: 2px 2px 4px #b302cacc;
    
  }

  #menu {
     display: block;
     position: absolute;
     width: 15em;
     top: 70px;
     right: 0px;
     background: #424242;
     transition: 0.6s;
     z-index: 1000;
     height: 0px;
     padding-left: 5px;
     visibility: hidden;
     overflow: hidden;
  }
  #menu li {
     padding-top: 30px;
     padding-bottom: 0px;
     margin: 0 1rem;
     border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }
  #nav.active #menu {
     height: calc(100vh - 70px);
     visibility: visible;
     overflow-y: hidden;

  }
  #btn-mobile {
     display: flex;
     padding: 0.5rem 1rem;
     font: 1rem;
     border: none;
     background: none;
     cursor: pointer;
     gap: 0.5rem;
  }
  #hamburger {
     border-top: 2px solid;
     /* Para aumentar ou diminuir a espessura da linha do hamburger */
     width: 30px;
     /* Para alterar a largura do hamburger */
     color: #6d116d;
     /* Para alterar a cor do hamburger */
  }
  #hamburger::after,
  #hamburger::before {
     content: '';
     display: block;
     width: 30px;
     /* Altera a largura do hamburger, juntamente com o width anterior */
     height: 2px;
     background: currentColor;
     margin-top: 4px;
     /* Altera o espaçamento, entre as linhas do hamburger */
     position: relative;
     border-top: 2px solid;
     /* Para aumentar e diminuir a espessura da linha do hamburger, juntamente com o border-top anterior*/
  }
  #nav.active #hamburger {
     border-top-color: transparent;
  }
  #nav.active #hamburger::before {
     transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
     transform: rotate(-135deg);
     top: -6px;
  }
} 
/* Fim Estilo Media >> Mobile */


  /* Início estilo Footer (rodapé) */
  .rodape {
    padding: 50px 50px 0;
    
   }
   .rodape .container #logo-rodape img { 
    height: 50%;
    width: 50%;
    padding-left: 10px;
    transition: transform  .3s;
    display: block;
    border-radius: 15px;
   }
   .rodape .container #logo-rodape img:hover{
    transform: scale(1.5);
    box-shadow: 0px 0px 20px #b302cacc;
   }
   .rodape .info-contato p {
    margin: 0;
   }
   .rodape .linkFooter {
    text-decoration: none;
    color: rgba(167, 21, 167, 0.856);
    font-size: 10px;
    margin-left: 0.7rem;
    font-family: 'Henny Penny';
    }
    .rodape .linlFooter:hover {
        font-weight: bold;
    }
    .rodape .redes-sociais {
        display: inline-block;
    }
    .rodape .redes-sociais img {
        width: 50px;
        height: 50px;
        padding-left: 0;
        margin-left: 0.8rem;
        transition: transform .3s;
        border-radius: 15px;
    /* border-radius = Arredondando as extremidades da forma */
    }
    .rodape .redes-sociais img:hover {
        z-index: 1;
        transform:scale(1.5);
        box-shadow:0 0 10px rgba(179, 3, 214, 0.651)        
    }
    .rodape p.direitos {
        text-align: center;
        margin-top: 40px;
    }


   /* Fim estilo Footer (rodapé) */
/* Início estilo Mobile > Tablets */
@media screen and (max-width: 1200px) {
    .menu-header {
        width: 60%;

    }
    .conteudo-sobre {
        flex-direction: column;
        align-items: center;
    }
    .imagem-sobre {
        width: 80%;

    }
    .texto-sobre {
        width: 80%;
        margin-top: 45px;
        display: flex;
        flex-direction: column;
        height: 430px;
        justify-content: space-between;

    }
    .conteudo-info {
        align-items: center;
        
    }
    .conteudo-endereco {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 660px;
        justify-content: space-between;
    }
    .conteudo-endereco h2 {
        align-self: flex-start;

    }
    .texto-endereco p {
        width:  100%;

    }





}



/* Fim estilo Mobile > Tablets */
